.home-background {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: url('/snow_background.jpg') left center / cover no-repeat;
  font-family: 'Roboto', Arial, sans-serif;
  background-blend-mode: overlay;
  overflow: hidden;
}

.home-background::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  /* Blue to white gradient, 30% opacity, lets image shine through */
  background: linear-gradient(to top, rgba(11, 56, 101, 0.672) 0%, rgba(4, 46, 88, 0.649) 100%);
}



/* Desktop: center the background */
@media (min-width: 600px) {
  .home-background {
    background-position: center center;
    justify-content: center;
  }
}

/* Mobile: offset background slightly from center */
@media (max-width: 600px) {
  .home-background {
    background-position: 70% center; /* moves image 30% from the left */
  }
}

.welcome-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  font-size: 0.65em;
  color: #9c9a9a;
  background: rgba(255, 255, 255, 0);
  z-index: 10;
}